h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Roboto", sans-serif;
}

html { 
    scroll-behavior:smooth;
}

body{
    background-color: white !important;
}

#style-modifier {
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 25px;
}

.center {
    text-align: center;
    padding: 10px;
}

.new-accordion {
    background-color: yellow!important;
}

.new-body {
    background-color: aqua!important;
    color: black;
}

.new-button {
    background-color: #10707f;
}

.ignielToTop {
    width:40px; 
    height:40px; 
    position:fixed; 
    bottom:40px; 
    right: 40px; 
    z-index:99; 
    cursor:pointer; 
    border-radius:100px; 
    transition: all .5s; 
    background:#008c5f url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

.ignielToTop:hover {
    background:#1d2129 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;
}

.container {
    padding-top: 8vh;
    padding:2em;
}

.container h1 {
    font-size: 35px;
    font-weight: 450;
}

.jumbotron {
    background-image: linear-gradient(rgb(63, 214, 214),white);
}

.contact-me {
    margin-top: 30px;
}

.icon-bar {
    position: relative;
    text-align: center;
    top: 70px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar p {
    font-family: 'georgia';
    font-size: large;
    bottom: 3px;
}

.icon-bar a {
    display: inline-block;
    text-align: center;
    padding: 12px;
    width: 50px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.instagram {
    background: #f13232da;
    color: white;
}

.whatsapp {
    background: #18d26e;
    color: white;
}

.google {
    background: #e92525;
    color: white;
}

span {
    color:#776f6f; 
    font-size: 25px;
}

.activity-card-container{
    width: max-content;
    display:flex;
    flex-direction: row;
}

.isi-accordion{
    width:260px;
    height:150px;
    border-radius:15px;
    margin:20px;
    padding:20px;
}

.isi-subtitle{
    color:gray;
    font-weight: 600;
}

.hidden{
    max-height: 0px;
    overflow-y: hidden;
}

#footer {
    background: #0b212d;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #a2cce3;
}

.accordion{
    margin: 20px;
    border-radius:15px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left: 100px;
    margin-right: 100px;
}

.accordion-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius:10px;
    box-shadow: 0 0px 10px rgba(117, 112, 112, 0.274);
    background-color: rgb(224, 255, 255);
    padding : 10px 20px 10px 20px;
    cursor: pointer;
}

.accordion-header-left{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.accordion-title{
    font-weight: 500;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.4px;
}

.accordion-title small{
    color:gray;
    font-size: 16px;
    letter-spacing: 0.7px;
    font-weight: 400;
}

.accordion-buttons{
    display:flex;
    flex-direction: row;
}

.accordion-buttons div{
    margin:11px;
    padding:8px;
    width: 20px;
    height:20px;
    text-align: center;
    color: rgb(100, 100, 100)
}

@media only screen and (max-width:500px){
    .container{
        margin-left:10px;
        margin-right:10px;
    }
    
    .accordion{
        margin-left: 10px;
        margin-right: 10px;
    }

    .accordion-header-left{
        flex-direction: column;
        align-items: flex-start;
    }

    .accordion-buttons div{
        margin:5px;
    }

    .accordion-title{
        font-size: 16px;;
    }

    .accordion-title small{
        font-size: 13px;;
    }
    
    .jumbotron h1 {
        font-size: 22px;
    }

    .jumbotron h1 span {
        font-size: 18px;
    }

    .isi-subtitle{
        font-weight: 400;
    }
}