{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'Letter-S.png' %}" rel="icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title>Suwandi's Profile</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Hello, all!<span> I'm Suwandi and this is my profile :)</span></h1>
    </div>
    <div class="container">
        <div class="accordion-container">
            <div class="accordion shadow">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="activityButton">
                        <div class="accordion-title">
                            Aktivitas saat ini
                            <small>Aktivitas harianku selama di rumah</small>
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="activityBody">
                    <div class="activity-card-container">
                        <div class="isi-accordion">
                            <div class="isi-subtitle">
                                1. Bangun tidur, mandi.
                            </div>
                            <div class="isi-subtitle">
                                2. Buka Line, liat grup, lalu kerjain tugas.
                            </div>
                            <div class="isi-subtitle">
                                3. Ngajak temen mabar ML.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion shadow">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="experienceButton">
                        <div class="accordion-title">
                            Pengalaman organisasi/kepanitiaan
                            <small>Organisasi/kepanitiaan yang pernah saya ikuti</small>
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="experienceBody">
                    <div class="activity-card-container">
                        <div class="isi-accordion">
                            <div class="isi-subtitle">
                                1. KIR SMAN 2 Jakarta.
                            </div>
                            <div class="isi-subtitle">
                                2. KMBUI XXVIII.
                            </div>
                            <div class="isi-subtitle">
                                3. Waisak KMBUI.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion shadow">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="achievementButton">
                        <div class="accordion-title">
                            Prestasi
                            <small>Informasi prestasiku</small>
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="achievementBody">
                    <div class="activity-card-container">
                        <div class="isi-accordion">
                            <div class="isi-subtitle">
                                1. Juara 7 Lomba Mat SMP.
                            </div>
                            <div class="isi-subtitle">
                                2. Juara 2 Lomba Pidato Bahasa Inggris SMP.
                            </div>
                            <div class="isi-subtitle">
                                3. Juara 1 Lomba Cerdas Cermat SMA.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion shadow">
                <div class="accordion-header">
                    <div class="accordion-header-left" id="contactButton">
                        <div class="accordion-title">
                            Kontak
                            <small>Informasi terkait kontakku</small>
                        </div>
                    </div>
                    <div class="accordion-buttons">
                        <div class="accordion-button-up">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                        <div class="accordion-button-down">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="accordion-body hidden" id="contactBody">
                    <div class="activity-card-container">
                        <div class="isi-accordion">
                            <div class="isi-subtitle">
                                1. Email : Suwandikur*******************
                            </div>
                            <div class="isi-subtitle">
                                2. Telepon : 0819775*****
                            </div>
                            <div class="isi-subtitle">
                                3. Id Line : Swnd**
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="center">
        <button id="style-modifier">Ganti tema kuy!</button>
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
<footer id="footer">
    <div class="container">
        <div class="copyright">
            Copyright &copy;<strong><span> Suwandi</span></strong> 2020
        </div>
        <div class="credits">
            FASILKOM UI
        </div>
    </div>
</footer>
<a href="#" class="ignielToTop" id="myBtn"></a>
</html>
